<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>인벤토리 프로젝트</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- 페이지별 추가 CSS -->
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <!-- 헤더 부분 -->
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/inventory/product_list">상품 리스트</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/inventory/inventory_list">재고 리스트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventory/create_product">상품 추가</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventory/create_inventory">재고 입고</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventory/inventory_total_list">재고 통계</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 창고 관리 </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/inventory/move_list">재고 이동</a></li>
                  <li><a class="dropdown-item" href="/inventory/delete_inventory">재고 폐기</a></li>
                  <li><a class="dropdown-item" href="#">재고 상태 수정</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <!-- 콘텐츠 부분 -->
    <main class="container-fluid">
      <div layout:fragment="content"></div>
    </main>

    <!-- 푸터 부분 -->
    <footer>
      <div class="mb-5 container-fluid">
        <hr />
        <p>@INVENTORY PROJECT <a href="www.naver.com">태그 확인용</a></p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- 페이지별 추가 JS -->
    <th:block layout:fragment="js"></th:block>
  </body>
</html>
