<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>Product List</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
      .text-nowrap {
        white-space: nowrap;
      }
      .table-hover tbody tr {
        transition: all 0.3s ease;
      }
      .table-hover tbody tr:hover {
        background-color: #d4edda !important;
        transform: scale(1.005);
        box-shadow: 0 8px 8px rgba(5, 231, 194, 0.2);
        z-index: 1;
        position: relative;
        border-radius: 8px;
      }
      .container-fluid,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        width: 100%;
        padding-right: 1.75rem;
        padding-left: 1.75rem;
        margin-right: auto;
        margin-left: auto;
      }

      /* 상태에 따른 배경색 설정 */
      .status-원활 {
        background-color: #14812d !important; /* 초록색 */
        color: white !important;
      }
      .status-부족 {
        background-color: #ffeb3b !important; /* 노란색 */
        color: black !important;
      }
      .status-경고 {
        background-color: #ff9800 !important; /* 주황색 */
        color: white !important;
      }
      .status-품절 {
        background-color: #f44336 !important; /* 빨간색 */
        color: white !important;
      }

      .fixed-size-image {
        width: 50px; /* 원하는 고정 너비 */
        height: 50px; /* 원하는 고정 높이 */
        object-fit: cover; /* 이미지를 고정된 크기에 맞게 조정 */
      }

      .rounded-image {
        border-radius: 50%;
        width: 70px; /* 고정된 너비 */
        height: 70px; /* 고정된 높이 */
        object-fit: cover; /* 이미지를 고정된 크기에 맞게 조정 */
      }
    </style>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="bg-dark text-white p-5">
          <h1 class="text-center">상품 목록</h1>
        </div>

        <div class="form-container">
          <form th:action="@{/inventory/product_list}" method="get">
            <div class="form-group">
              <label for="type">타입</label>
              <select name="type" id="type" class="form-select">
                <option value="" th:selected="${requestDto.type == null}">선택 조건</option>
                <!-- <option value="opt" th:selected="${requestDto.type == 'opt'}">옵션</option> -->
                <option value="productName" th:selected="${requestDto.type == 'productName'}">상품명</option>
                <option value="productCode" th:selected="${requestDto.type == 'productCode'}">상품코드</option>
                <option value="components" th:selected="${requestDto.type == 'components'}">구성품</option>
              </select>
            </div>
            <div class="form-group">
              <label for="productName">키워드</label>
              <input type="text" id="keyword" name="keyword" class="form-control" th:value="${requestDto.keyword}" />
            </div>
            <div class="form-group">
              <label for="quantityStatusSelect">Quantity Status</label>
              <select id="quantityStatusSelect" class="form-control" name="quantityStatusStr">
                <option th:selected="${requestDto.quantityStatusStr ==  null}">전체</option>
                <option th:value="원활" th:selected="${requestDto.quantityStatusStr == '원활'}">원활</option>
                <option th:value="품절" th:selected="${requestDto.quantityStatusStr == '품절'}">품절</option>
                <option th:value="부족" th:selected="${requestDto.quantityStatusStr == '부족'}">부족</option>
                <option th:value="경고" th:selected="${requestDto.quantityStatusStr == '경고'}">경고</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">검색</button>
          </form>
        </div>

        <div>
          <a href="https://drive.google.com/drive/u/0/folders/1hhvbpnbk28MJwT8IHx8cz1y4qTxb3QyR">테스트 이미지</a>
        </div>

        <div class="table-responsive table-container">
          <table class="table table-hover table-bordered">
            <thead class="thead-dark text-nowrap">
              <tr class="text-center">
                <th scope="col">상품 PK</th>
                <th scope="col">상품 코드</th>
                <th scope="col">상품 이름</th>
                <th scope="col">상품 옵션</th>
                <th scope="col">온라인 판매 가능 여부</th>
                <th scope="col">진행</th>
                <th scope="col">상품번호(출하순)</th>
                <th scope="col">구성품</th>
                <th scope="col">추가 구매 옵션</th>
                <th scope="col">비고</th>
                <th scope="col">추가 내용</th>
                <th scope="col">대표 이미지</th>
                <th scope="col">로켓배송</th>
                <th scope="col">카테고리</th>
                <th scope="col">관리자</th>
                <th scope="col">안전 재고 기준</th>
                <th scope="col">위험 재고 기준</th>
                <th scope="col">단종 여부</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Brand Code</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Code</th>
                <th scope="col">매입가</th>
                <th scope="col">공급가</th>
                <th scope="col">배송비(VAT 포함)</th>
                <th scope="col">네이버 판매가</th>
                <th scope="col">관세</th>
                <th scope="col">운임</th>
              </tr>
            </thead>
            <tbody class="text-nowrap" th:each="product : ${products.dtoList}">
              <tr class="text-center">
                <td th:text="${product.productId}"></td>
                <td><a th:href="@{|/inventory/product_read?productCode=${product.productCode}}" th:text="${product.productCode}|"></a></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.opt}"></td>
                <td th:text="${product.onlineCase}"></td>

                <td th:text="${product.quantityStatus}" th:classappend="'status-' + ${product.quantityStatus}"></td>

                <td th:text="${product.productNum}"></td>
                <td th:text="${product.components}"></td>
                <td th:text="${product.extraPurchaseOption}"></td>
                <td th:text="${product.remarks}"></td>
                <td th:text="${product.modifyContent}"></td>
                <td>
                  <a href="https://jishop.co.kr/product/detail.html?product_no=125&cate_no=1&display_group=2">
                    <img th:src="${product.mainImage != null ? product.mainImage : '@{/이미지/대표이미지 x .webp}'}" class="fixed-size-image" />
                  </a>
                </td>
                <td>
                  <a href="https://www.coupang.com/np/search?component=&q=%ED%94%8C%EB%9D%BC%EC%9D%B4%ED%86%A0&channel=user">
                    <img src="/이미지/로켓 로고.jpg" class="rounded-image" />
                  </a>
                </td>

                <td th:text="${product.category}"></td>
                <td th:text="${product.manager}"></td>
                <td th:text="${product.threshold}"></td>
                <td th:text="${product.threshold2}"></td>
                <td th:text="${product.soldOut}"></td>
                <td th:text="${product.brandName}"></td>
                <td th:text="${product.brandCode}"></td>
                <td th:text="${product.companyName}"></td>
                <td th:text="${product.companyCode}"></td>
                <td th:text="${#numbers.formatCurrency(product.purchaseCost)}"></td>
                <td th:text="${#numbers.formatCurrency(product.supplyPrice)}"></td>
                <td th:text="${#numbers.formatCurrency(product.deliveryPrice)}"></td>
                <td th:text="${#numbers.formatCurrency(product.naverPrice)}"></td>
                <td th:text="${#numbers.formatCurrency(product.duty)}"></td>
                <td th:text="${#numbers.formatCurrency(product.shippingCost)}"></td>
              </tr>
            </tbody>
          </table>
          <form th:action="@{/inventory/product_list}" method="get" class="select-container">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" th:classappend="${products.page == 1} ? 'disabled'">
                  <a
                    class="page-link"
                    th:href="@{|/inventory/product_list?page=${products.page - 1}&size=${products.size}&status=${selectedQuantityStatus}&type=${requestDto.type}&keyword=${requestDto.keyword}&quantityStatusStr=${requestDto.quantityStatusStr}|}"
                    >Previous</a
                  >
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, products.totalPage)}" th:classappend="${products.page == i} ? 'active'">
                  <a
                    class="page-link"
                    th:text="${i}"
                    th:href="@{|/inventory/product_list?page=${i}&size=${products.size}&status=${selectedQuantityStatus}&type=${requestDto.type}&keyword=${requestDto.keyword}&quantityStatusStr=${requestDto.quantityStatusStr}|}"
                    >1</a
                  >
                </li>
                <li class="page-item" th:classappend="${products.page == products.totalPage} ? 'disabled'">
                  <a
                    class="page-link"
                    th:href="@{|/inventory/product_list?page=${products.page + 1}&size=${products.size}&status=${selectedQuantityStatus}&type=${requestDto.type}&keyword=${requestDto.keyword}&quantityStatusStr=${requestDto.quantityStatusStr}|}"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>

            <!-- <button type="submit" class="btn btn-primary">Apply</button> -->
          </form>
        </div>
      </div>
    </div>

    <th:block layout:fragment="js">
      <script th:src="@{/js/home.js}"></script>
    </th:block>
  </body>
</html>
